.App {
  text-align: center;
}

.navBar {
  background-color: #1aff00;
  color: #fff;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home {
  font-size: 30px;
  margin-left: 20px;
  background-image: url('../screenshots/sea.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
